/* monStyle.css */
h1,h2,h3,h4,h5,h6 { /* propriétés des titres */
	font-weight: bold;
	clear: both;
	color: #e3c600;
}
p { /* saut de 18 pixels en fin de paragraphe */
	margin-bottom: 10px;
	padding-left: 10px;
}
body {
    line-height: 1;
    background: #696969 ;
    font-family: Consolas, Verdana, Arial, Helvetica, sans-serif;
    color: #fdf5e6;
    font-size: 20px;
    line-height: 23px;
    padding-right: 100px
}

imgContainer{
	margin-top: 5px;
	margin-bottom: 10px;
	display: block; 
	padding: 10px; 
	border-color: #ffffff;
	border-style: solid;
	border-width: 3px; 
	background: #808080; 
}

img.c{
	width: 100%;
}

a{
	color : #ee7600;
}

mana{
	font-weight: bold;
	color: #2020ff
}